﻿@model IEnumerable<MvcGolLig.Models.tblRezervasyon>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/YonetimPaneli/Views/_LayoutAdmin.cshtml";
}


<script src="~/Areas/YonetimPaneli/sweetalert/sweetalert-dev.js"></script>
<link href="~/Areas/YonetimPaneli/sweetalert/sweetalert.css" rel="stylesheet" />
<style>
    tbody {
        text-transform: capitalize;
    }
</style>



    <div class="container">
        <div class="row" style="margin-right:0px">

            <p>
                @*@Html.ActionLink("Yeni Kayıt", "Create")*@
            </p>
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tr>

                        <th>
                            Saha
                        </th>
                        <th>
                            Ad Soyad
                        </th>
                        <th>
                            Tarih
                        </th>

                        <th>
                            Saat
                        </th>
                        <th>
                            Fiyat
                        </th>
                        <th>
                            Durum
                        </th>

                        <th>İşlem</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.tblSaha.adi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tblKullanici.adSoyad)
                            </td>
                            <td>
                                @(item.tarih.Value.ToString("dd.MM.yyyy"))
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.tblRezervasyonSaatleri.aciklama)

                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.fiyat) TL
                            </td>
                            <td>
                                @if (item.durum == 0)
                                {
                                    @Html.Raw("Beklemede")
                                }
                                else if (item.durum == 1)
                                {
                                    @Html.Raw("Onaylanmış")
                                }
                                else if (item.durum == -1)
                                {
                                    @Html.Raw("İptal Edilmiş")
                                }
                            </td>
                            <td>
                                <a onclick="aktiflestir('@item.rezId',1)"> Onayla </a>   |
                                <a onclick="aktiflestir('@item.rezId',-1)"> İptal Et </a> |
                                @Html.ActionLink("Detaylar", "Details", new { id = item.rezId })
                            </td>
                        </tr>
                    }

                </table>
                </div>
            </div>

 
    
 <script>
    function aktiflestir(id,durum) {

        $.ajax({
            url: '/yonetimpaneli/rezervasyon/DurumDegistir',
            type: 'POST',
            data: { id: id, durum: durum },// frm.serialize(), //
            success: function (data) {
                if (data.basarili==true) {
                    swal({
                        title: "Harika!",
                        text: data.text,
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Tamam!",
                        closeOnConfirm: false
                    },
                    function(){
                        window.location = "/yonetimpaneli/rezervasyon";
                    });

                }
                else {
                    //alert(data.text);
                    swal("HATA", data.text, "error");
                }
            },
            error: function (hata, ajaxOptions, thrownError) {
                //alert('Beklenmedik bir hata oluştu lütfen tekrar deneyin. ');
                swal("HATA", "Beklenmedik bir hata oluştu lütfen tekrar deneyin.", "error");
            }
        });

    }
</script>

</div>