﻿@model MvcGolLig.Models.tblSahaKullanici

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/YonetimPaneli/Views/_LayoutAdmin.cshtml";
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row" style="margin-right:0px">

            <h2>Yeni Kayıt</h2>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Saha Yetkisi</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <label class="control-label col-md-2">Saha</label>
                        <div class="col-md-10">
                            @Html.DropDownList("saha", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.saha, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Kullanıcı</label>
                        <div class="col-md-10">
                            @Html.DropDownList("panelKullanici", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.panelKullanici, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Create" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Listeye Dön", "Index")
            </div>

        </div>

    </div>

</div>