﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<div id="fh5co-contact" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>İletişim</h3>
						<p>
                            @ViewBag.aciklama
                        </p>
					</div>
				</div>
				<form action="#">
					<div class="row animate-box">
						<div class="col-md-6">
							<h3 class="section-title">Our Address</h3>
							<p>

                            </p>
							<ul class="contact-info">
								<li><i class="icon-location-pin"></i>@ViewBag.adres</li>
								<li><i class="icon-phone2"></i>@ViewBag.telefon</li>
								<li><i class="icon-mail"></i><a href="mailto:@ViewBag.mail">@ViewBag.mail</a></li>
								@*<li><i class="icon-globe2"></i><a href="#">www.yoursite.com</a></li>*@
							</ul>
						</div>
						<div class="col-md-6">
							<div class="row">
                                @using (Html.BeginForm())
                                {
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" name="isim" class="form-control" placeholder="Ad Soyad">
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<input type="text" name="mail" class="form-control" placeholder="Email">
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea name="mesaj" class="form-control" id="" cols="30" rows="7" placeholder="Mesajınız"></textarea>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<input type="submit" value="Gönder" class="btn btn-primary">
									</div>
								</div>
                                }
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>


