﻿
@{
    ViewBag.Title = "IlcerleriGetir";
    //Layout = "~/Views/_Layout.cshtml";

    <!-- Animate.css -->
    <link href="~/css/animate.css" rel="stylesheet" />
    <!-- Icomoon Icon Fonts-->
    <link href="~/css/icomoon.css" rel="stylesheet" />
    <!-- Bootstrap  -->
    <link href="~/css/bootstrap.css" rel="stylesheet" />
    <!-- Superfish -->
    <link href="~/css/superfish.css" rel="stylesheet" />
    <!-- Magnific Popup -->
    <link href="~/css/magnific-popup.css" rel="stylesheet" />
    <!-- Date Picker -->
    <link href="~/css/bootstrap-datepicker.min.css" rel="stylesheet" />
    <!-- CS Select -->
    <link href="~/css/cs-select.css" rel="stylesheet" />
    <link href="~/css/cs-skin-border.css" rel="stylesheet" />


    <link href="~/css/style.css" rel="stylesheet" />
}


@Html.DropDownList("Ilceler", (List<SelectListItem>)ViewBag.ilceler, new { @class = "form-control" } )