﻿@model IEnumerable<MvcGolLig.Models.vw_FiyatListesi>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_Layout.cshtml";
}

<script src="~/js/jquery-1.10.2.min.js"></script>
<link href="~/js/jquery-ui.css" rel="stylesheet" /> 


<script src="~/js/bootstrap-datepicker.min.js"></script>
<link href="~/css/bootstrap-datepicker.min.css" rel="stylesheet" />
<style>
    .flight-book{
        cursor: pointer;
    }
    .flight-book :hover{
        text-shadow: 10px 10px 10px black;
    }
</style>

<div id="fh5co-tours" class="fh5co-section-gray" style="background-image: url(images/cover_bg_1.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="tabulation2 animate-box" style="width:100%">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#flights" aria-controls="flights" role="tab" data-toggle="tab">Saha Bul</a>
                            </li>

                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="flights">
                                <div class="row">
                                    <h3 style="font-size: medium">Sana en yakın halı sahayı bul!</h3>
                                    @using (Html.BeginForm())
                                    {
                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                            <div class="input-field">
                                                <label for="date-start">Tarih</label>

                                                @*<input type="text" name="Tarih" class="form-control datepicker" id="date-start" data-date-format="dd.mm.yyyy" placeholder="Tarih Giriniz" />*@

                                                @Html.TextBox("Tarih", "",
                                    new { @class = "form-control datepicker", @placeholder = "Tarihi Seçiniz", @type = "text", @name = "Tarih", @id = "tarih" })


                                            </div>
                                        </div>
                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                            <div class="input-field">
                                                <section>
                                                    <label for="class">Saat</label>
                                                    @Html.DropDownList("Saatler", (IEnumerable<SelectListItem>)ViewBag.rezId, new { @class = "form-control" })
                                                </section>
                                            </div>
                                        </div>

                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                            <div class="input-field">
                                                <section>
                                                    <label for="class">İl</label>
                                                    @Html.DropDownList("Sehirler", (IEnumerable<SelectListItem>)ViewBag.id, new { @class = "form-control" })
                                                </section>
                                            </div>
                                        </div>

                                        <div class="col-xxs-12 col-xs-6 mt alternate">
                                            <div class="input-field">
                                                <section>
                                                    <label for="class">İlçeler</label>
                                                    <div class="ilceler">
                                                        @Html.DropDownList("Ilceler", (IEnumerable<SelectListItem>)ViewBag.id, new { @class = "form-control" })
                                                    </div>
                                                </section>
                                            </div>
                                        </div>



                                        <div class="col-xs-12">


                                            <input type="submit" class="btn btn-primary btn-block" value="Saha Bul" />
                                            <a href="@ViewBag.ButtonLink" class="btn btn-primary btn-block">@ViewBag.ButtonText</a>
                                        </div>
                                    }
                                </div>
                            </div>


                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <a href="http://halisahamalzemeleri.com">
                            <img src="~/images/clx.jpg" width="100%">
                        </a>
                    </div>
                </div>
            </div>

            





            <div class="col-md-6 animate-box" style="float:left">
                 

              
                @foreach (var item in Model)
                {
                    <a onclick="detayaGit('@item.adi.Replace(" ","-")','@item.KOD')" class="flight-book">
                        <div class="plane-name">
                            <span class="p-flight" style="text-transform:capitalize">
                                @Html.DisplayFor(modelItem => item.adi)
                            </span>
                        </div>
                        <div class="desc">
                            <div class="left">
                                <h4> 

                                    @Html.DisplayFor(modelItem=>item.detay) 
                                </h4>
                                <span>
                                    @Html.DisplayFor(modelItem => item.SAAT)
                                </span>
                            </div>
                            <div class="right">
                                <span class="price">
                                    <img src="images/para.png" style="width:25px;">
                                    @Html.DisplayFor(modelItem => item.fiyat)
                                </span>
                            </div>
                        </div>
                    </a>
                }





            </div>
        </div>

        



    </div>
</div>


<script>
    var detayaGit = function (id,kod) {
           
        var tarih = $("#tarih").val();
            
        post('/sahadetaylari/' + id, { Tarih: tarih, kod: kod});
    }


    function post(path, params, method) {
        method = method || "post"; // Set method to post by default if not specified.

        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for (var key in params) {
            if (params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
            }
        }

        document.body.appendChild(form);
        form.submit();
    }
</script>

<script type="text/javascript">
        $(function () {
            $('#Sehirler').change(function () {
                $.get('/Home/IlcerleriGetir/?id=' + $(this).val(), function (data) {
                    $('.ilceler').html(data); 
                });
            });
        });

</script>

 <script type="text/javascript" defer="defer">
    @Html.Raw(ViewBag.StartupScript)
</script>
  

 

<script type="text/javascript" defer="defer">
    $(function () { // will trigger when the document is ready
        $('#tarih').datepicker({
            autoclose: true,
            orientation: "bottom auto"
        }); 
    });

    $('#tarih').val('@ViewBag.Bugun');

</script>