﻿@model MvcGolLig.Models.tblSaha

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/YonetimPaneli/Views/_LayoutAdmin.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblSaha</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iletisimNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iletisimNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.aktif)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.aktif)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foto1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foto2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foto3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foto4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foto5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.en)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.en)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.boy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.boy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kapasite)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kapasite)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dusVar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dusVar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dusAdet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dusAdet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sicakSuVar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sicakSuVar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kramponKiralamaVar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kramponKiralamaVar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kramponFiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kramponFiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ikram)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ikram)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soyunmaOdasiVar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soyunmaOdasiVar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.soyunmaOdasiAdet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.soyunmaOdasiAdet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.videoCekimVar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.videoCekimVar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.videoCekimFiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.videoCekimFiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hakemVar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakemVar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hakemFiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hakemFiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kafeteryaVar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kafeteryaVar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.otoparkVar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.otoparkVar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.oroparkFiyat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oroparkFiyat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.oyunSalonuVar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oyunSalonuVar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.wifiVar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.wifiVar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.jeneratorVar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.jeneratorVar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.kaporaIstiyorum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.kaporaIstiyorum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iban)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iban)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tcVergiNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tcVergiNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vergiLevhasiOnay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vergiLevhasiOnay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ilceler.ilce)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ilceler.ilce)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iller.sehir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iller.sehir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tblSahaTipi.aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tblSahaTipi.aciklama)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.sahaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>

