﻿@model MvcGolLig.Models.tblSaha

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/YonetimPaneli/Views/_LayoutAdmin.cshtml";
}
<script src="~/Areas/YonetimPaneli/sweetalert/sweetalert-dev.js"></script>
<link href="~/Areas/YonetimPaneli/sweetalert/sweetalert.css" rel="stylesheet" />

<script src="~/js/jquery.maskedinput.js" type="text/javascript"></script>


<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row" style="margin-right:0px">

            @using (Html.BeginForm("Edit", "Saha", FormMethod.Post, new { enctype = "multipart/form-data", id="formedit" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">
                    <h4>Saha Düzenle</h4>
                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.sahaId)

                    <div class="form-group">
                        <label class="control-label col-md-2">Adı</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.adi, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.adi, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">İletişim No</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.iletisimNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.iletisimNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Tipi</label>
                        <div class="col-md-10">
                            @Html.DropDownList("tipi", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.tipi, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Adres</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.adres, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.adres, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Açıklama</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.aciklama, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.aciklama, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">İl</label>
                        <div class="col-md-10">
                            @Html.DropDownList("il", null, htmlAttributes: new { @class = "form-control", @name = "il" })
                            @Html.ValidationMessageFor(model => model.il, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">İlçe</label>
                        <div class="col-md-10">
                            <div class="ilce">
                                @Html.DropDownList("ilce", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                            @Html.ValidationMessageFor(model => model.ilce, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Aktif</label>
                        <div class="col-md-10">

                            @if (Session["golliglogintip"].ToString() == "100")
                            {
                                <fieldset disabled>
                                    <select id="disabledSelect" class="form-control">
                                        <option>Bu alanı sadece yönetici düzenleyebilir.</option>
                                    </select>
                                </fieldset>
                            }
                            else
                            {
                                <select class="form-control" name="aktif" id="aktif">
                                    <option value="1">Aktif</option>
                                    <option value="0">Pasif</option>
                                </select>
                            }

                            @Html.ValidationMessageFor(model => model.aktif, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Fotoğraf 1</label>
                        <div class="col-md-10">

                            <input type="file" name="foto1" id="foto1" class="form-control" />

                            @Html.ValidationMessageFor(model => model.foto1, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Fotoğraf 2</label>
                        <div class="col-md-10">
                            <input type="file" name="foto2" id="foto2" class="form-control" />
                            @Html.ValidationMessageFor(model => model.foto2, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Fotoğraf 3</label>
                        <div class="col-md-10">
                            <input type="file" name="foto3" id="foto3" class="form-control" />
                            @Html.ValidationMessageFor(model => model.foto3, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Fotoğraf 4</label>
                        <div class="col-md-10">
                            <input type="file" name="foto4" id="foto4" class="form-control" />
                            @Html.ValidationMessageFor(model => model.foto4, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Fotoğraf 5</label>
                        <div class="col-md-10">
                            <input type="file" name="foto5" id="foto5" class="form-control" />
                            @Html.ValidationMessageFor(model => model.foto5, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">En (metre)</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.en, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.en, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Boy (metre)</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.boy, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.boy, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Kapasite</label>
                        <div class="col-md-10">
                            @*@Html.EditorFor(model => model.kapasite, new { htmlAttributes = new { @class = "form-control" } })*@
                            <select name="kapasite" id="kapasite" class = "form-control">
                                <option>5x5</option>
                                <option>6x6</option>
                                <option>7x7</option>
                                <option>8x8</option>
                                <option>9x9</option>
                                <option>10x10</option>
                                <option>11x11</option> 
                            </select>
                            
                            
                            @Html.ValidationMessageFor(model => model.kapasite, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Duş Var</label>
                        <div class="col-md-10">
                            <select class="form-control" name="dusVar" id="dusVar">
                                <option value="1">Var</option>
                                <option value="0">Yok</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.dusVar, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Duş Adet</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.dusAdet, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.dusAdet, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Sıcak Su</label>
                        <div class="col-md-10">
                            <select class="form-control" name="sicakSuVar" id="sicakSuVar">
                                <option value="1">Var</option>
                                <option value="0">Yok</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.sicakSuVar, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Krampon Kiralama</label>
                        <div class="col-md-10">
                            <select class="form-control" name="kramponKiralamaVar" id="kramponKiralamaVar">
                                <option value="1">Var</option>
                                <option value="0">Yok</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.kramponKiralamaVar, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Krampon Kira Fiyatı</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.kramponFiyat, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.kramponFiyat, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">İkram</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.ikram, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ikram, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Soyunma Odası Var</label>
                        <div class="col-md-10">
                            <select class="form-control" name="soyunmaOdasiVar" id="soyunmaOdasiVar">
                                <option value="1">Var</option>
                                <option value="0">Yok</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.soyunmaOdasiVar, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Soyunma Odası Adet</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.soyunmaOdasiAdet, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.soyunmaOdasiAdet, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Video Çekimi Var</label>
                        <div class="col-md-10">
                            <select class="form-control" name="videoCekimVar" id="videoCekimVar">
                                <option value="0">Yok</option>
                                <option value="1">Var</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.videoCekimVar, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Video Çekimi Fiyat</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.videoCekimFiyat, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.videoCekimFiyat, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Hakem Var</label>
                        <div class="col-md-10">
                            <select class="form-control" name="hakemVar" id="hakemVar">
                                <option value="0">Yok</option>
                                <option value="1">Var</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.hakemVar, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Hakem Fiyat</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.hakemFiyat, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.hakemFiyat, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Kafeterya Var</label>
                        <div class="col-md-10">
                            <select class="form-control" name="kafeteryaVar" id="kafeteryaVar">
                                <option value="1">Var</option>
                                <option value="0">Yok</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.kafeteryaVar, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Otopark Var</label>
                        <div class="col-md-10">
                            <select class="form-control" name="otoparkVar" id="otoparkVar">
                                <option value="1">Var</option>
                                <option value="0">Yok</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.otoparkVar, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Otopark Fiyat</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.oroparkFiyat, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.oroparkFiyat, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Oyun Salonu Var</label>
                        <div class="col-md-10">
                            <select class="form-control" name="oyunSalonuVar" id="oyunSalonuVar">
                                <option value="1">Var</option>
                                <option value="0">Yok</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.oyunSalonuVar, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Wifi Fiyat</label>
                        <div class="col-md-10">
                            <select class="form-control" name="wifiVar" id="wifiVar">
                                <option value="1">Var</option>
                                <option value="0">Yok</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.wifiVar, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Jeneratör Var</label>
                        <div class="col-md-10">
                            <select class="form-control" name="jeneratorVar" id="jeneratorVar">
                                <option value="0">Yok</option>
                                <option value="1">Var</option> 
                            </select>
                            @Html.ValidationMessageFor(model => model.jeneratorVar, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Kapora İstiyorum</label>
                        <div class="col-md-10">
                            <select class="form-control" name="kaporaIstiyorum" id="kaporaIstiyorum"> 
                                <option value="0">Hayır</option>
                                <option value="1">Evet</option>
                            </select>
                            @Html.ValidationMessageFor(model => model.kaporaIstiyorum, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">IBAN</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.iban, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.iban, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Tc/Vergi No</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.tcVergiNo, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.tcVergiNo, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-2">Vergi Levhası Onay Kodu</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.vergiLevhasiOnay, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.vergiLevhasiOnay, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Kaydet" class="btn btn-default" />

@if (Session["golliglogintip"].ToString() != "100")
{
                            <input type="button" value="Aktif Hale Getir" onclick="aktiflestir('@Model.sahaId', 1)" class="btn btn-default" />
                            <input  type="button" value="Pasif Hale Getir" onclick="aktiflestir('@Model.sahaId', 0)" class="btn btn-default" />
}
                        </div>
                    </div>
                </div>
            }

            <div>
                @Html.ActionLink("Listeye Dön", "Index")
            </div>


        </div>

    </div>

</div>


<script>
    function aktiflestir(id,durum) {

        $.ajax({
            url: '/yonetimpaneli/saha/aktiflestir',
            type: 'POST',
            data: { id: id, durum: durum },// frm.serialize(), //
            success: function (data) {
                if (data.basarili==true) {
                    swal({
                        title: "Harika!",
                        text: data.text,
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Tamam!",
                        closeOnConfirm: false
                    },
                    function(){
                        window.location = "/yonetimpaneli/saha";
                    });

                }
                else {
                    //alert(data.text);
                    swal("HATA", data.text, "error");
                }
            },
            error: function (hata, ajaxOptions, thrownError) {
                //alert('Beklenmedik bir hata oluştu lütfen tekrar deneyin. ');
                swal("HATA", "Beklenmedik bir hata oluştu lütfen tekrar deneyin.", "error");
            }
        });

    }
</script>


<script>
    $('#formedit').submit(function (ev) {
        ev.preventDefault(); 
        if ($("#tcVergiNo").val() == "" || $("#vergiLevhasiOnay").val()=="") {
            alert("Tc/Vergi No ve Vergi Levhası Onay Kodu Alanları Boş Geçilemez.");
        }
        else
        {
            this.submit(); // If all the validations succeeded
        }

        
    });
</script>

<script type="text/javascript">
    $(function () {
        $('#il').change(function () {
            $.get('/yonetimpaneli/saha/IlcerleriGetir/?id=' + $(this).val(), function (data) {
                $('.ilce').html(data);
            });
        });
    });

</script>

<script>
    jQuery(function ($) {
        $("#iletisimNo").mask("(999) 999-9999", { placeholder: "" });
    });
</script>