﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/YonetimPaneli/Views/_LayoutAdmin.cshtml";
}

<script src="~/Areas/YonetimPaneli/sweetalert/sweetalert-dev.js"></script>
<link href="~/Areas/YonetimPaneli/sweetalert/sweetalert.css" rel="stylesheet" />


<style>
    .sweet-alert {
        height: 80%;     
        overflow-y: scroll;
        overflow-x: scroll;
    }
    @@media only screen and (min-width: 769px) {
        .sweet-alert {
            height: 80%;     
            width:70%;
            left:35%;
            overflow-y: scroll;
            overflow-x: scroll;
        }
    }
    thead{
            text-align: left;
    }
    tbody{
            text-align: left;
            text-transform:capitalize;
    }
    .closebt {
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	cursor:pointer;
    }

    .closebt:hover {
	    transform:rotate(90deg);
    }
    #closebt-container {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 40px;
}
     pre{display:none;}
    .value{display:none;}
    .selectize-dropdown {
        z-index:100000;
    }
    .theme-selector{
        display:none;
    }
    #animatedModal label{
        color:#f7fcf7;
    }
    .ui-accordion .ui-accordion-content{
        padding:0;
    }
</style>


<script src="~/js/bootstrap-datepicker.min.js"></script>
<link href="~/css/bootstrap-datepicker.min.css" rel="stylesheet" />
 

@*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/animate.css/3.2.0/animate.min.css">*@

<link href="~/Areas/YonetimPaneli/js/animatemodal/animatemodal.css" rel="stylesheet" />


@*<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">*@
<link href="~/Areas/YonetimPaneli/css/jquery-ui.css" rel="stylesheet" />
<link rel="stylesheet" href="/resources/demos/style.css">
@*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>*@

<script src="~/js/Full/jquery.js"></script>
<script src="~/js/Full/jquery-ui.js"></script>


<script src="https://raw.githubusercontent.com/andrew-mestas/swalExtend/master/swalExtend.js"></script>
<link rel="stylesheet" href="https://raw.githubusercontent.com/andrew-mestas/swalExtend/master/swalExtend.css">
<script src="~/js/jquery.maskedinput.js" type="text/javascript"></script>
 
<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row" style="margin-right:0pxp;padding-top:20px">

              
            <div class="row" style="margin-right:0px">
                <div class="col-lg-3 col-md-6" onclick="publicsaha()">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="~/Areas/YonetimPaneli/img/stad.png" style="height:100px" />
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
                                        @ViewBag.KayitliSaha
                                    </div>
                                    <div>Kayıtlı Saha</div>
                                </div>
                            </div>
                        </div>
                        @*<%--<a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Detaylar</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>--%>*@
                    </div>
                </div>
                <div class="col-lg-3 col-md-6" onclick="publictakim()">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="~/Areas/YonetimPaneli/img/takim.png" style="height:100px" />
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
                                        @ViewBag.KayitliTakim
                                    </div>
                                    <div>Kayıtlı Takım</div>
                                </div>
                            </div>
                        </div>
                        @*<%--<a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Detaylar</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>--%>*@
                    </div>
                </div>
                <div class="col-lg-3 col-md-6" onclick="publicmac()">
                    <div class="panel panel-yellow">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="~/Areas/YonetimPaneli/img/mac.png" style="height:100px" />
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
                                        @ViewBag.KayitliMac
                                    </div>
                                    <div>Kayıtlı Maç</div>
                                </div>
                            </div>
                        </div>
                        @*<%--<a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Detaylar</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>--%>*@
                    </div>
                </div>
                <div class="col-lg-3 col-md-6" onclick="publickullanici()">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <img src="~/Areas/YonetimPaneli/img/kullanici.png" style="height:100px" />
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">
                                        @ViewBag.KayitliKullanici
                                    </div>
                                    <div>Kayıtlı Kullanıcı</div>
                                </div>
                            </div>
                        </div>
                        @*<%--<a href="#">
                            <div class="panel-footer">
                                <span class="pull-left">Detaylar</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>--%>*@
                    </div>
                </div>
            </div> 

            <div class="col-lg-6" style="width:100%">
                <h2>Son Rezervasyonlar</h2>
@using (Html.BeginForm("Index","Home", FormMethod.Get, new { @id = "frmindex" }) )
{
                <p>
                    <input id="tarih" name="tarih" class="form-control" placeholder="Rapor Tarihini Giriniz"/>
                    <br /> 
                </p>
}

                <div id="accordion"  >

                    @if (ViewBag.Rezler != null)
                    {
                        foreach (var raporitem in ViewBag.Rezler)
                        {
                            
                                <h3> 
                                   @raporitem.SahaAdi
                                    
                                </h3>
                            <div >

                                    <div class="table-responsive">

                                        <table class="table table-bordered">
                                            <tr>
                                                @foreach (System.Data.DataColumn cols in @raporitem.Rezler.Columns)
                                                {
                                                    <th>@cols.ToString()</th>
                                                }
                                            </tr>
                                            @foreach (System.Data.DataRow item in @raporitem.Rezler.Rows)
                                            {
                                                <tr>
                                                    @{int index = 0; }
                                                    @foreach (var cell in item.ItemArray)
                                                    {

                                                        <td>
                                                            @if (cell.ToString() != "")
                                                            {
                                                                string[] data = cell.ToString().Split(new string[] { "<data>" }, StringSplitOptions.None);
                                                                if (index == 0)
                                                                {
                                                                    @cell.ToString()
                                                                }
                                                                else
                                                                {
                                                                    if (data.Length >= 2)
                                                                    {
                                                                        if (data[0] == "")
                                                                        {
                                                                            {
                                                                                string saat = data[5].ToString().Split('-')[0];
                                                                                DateTime t = DateTime.Parse(data[4].ToString()+" "+saat);
                                                                                DateTime now = DateTime.Now;
                                                                                if (t>now)
                                                                                {
                                                                                    <text>
                                                            <a class="btn btn-info" onclick="rezerveEtModal('@data[3].ToString()' ,'@data[4].ToString()','@data[5].ToString()','@data[7].ToString()','@data[2].ToString()','@data[6].ToString()')">

                                                                Rezerve Et

                                                            </a>
                                                                                    </text>
                                                                                }
                                                                            }
                                                                            //function rezerveEt(saha,tarih,saat,fiyat,sahaId,fiyatId)
                                                                            @*<a class="btn btn-info"  onclick="rezerveEtModal('@data[3].ToString()' ,'@data[4].ToString()','@data[5].ToString()','@data[7].ToString()','@data[2].ToString()','@data[6].ToString()')">
                                                                             
                                                                                Rezerve Et

                                                                            </a>*@
                                                                        }
                                                                        else
                                                                        {
                                                                            <button type="button" onclick="detay('@data[3].ToString()','@data[5].ToString()' ,'@data[1].ToString()','@data[0].ToString()')" class="btn btn-success">@data[1].ToString()</button>
                                                                        }

                                                                    }

                                                                }
                                                            }
                                                            else
                                                            {
                                                                @*<button class="btn btn-success" type="button" onclick="rezerve('@item.ItemArray[0]')">Rezerve Et old</button>*@
                                                                    @*@Html.ActionLink("Rezerve Et","Create","Rezervasyon", new { @rezSaati = item.ItemArray[0] },null )*@
                                                            }

                                                        </td>
                                                        index++;
                                                    }
                                                </tr>
                                                        }
                                        </table>

                                    </div>


                            </div>

                                                            }
                                                        }

                </div> 


               
            </div>


            @*<a  onclick="rezerveEt('1','','','','','');">DEMO01</a>*@

        </div>
    </div>
</div>


<div id="animatedModal" style="background-color:#5cb85c;opacity:0">
    <div id="closebt-container" class="close-animatedModal">
        <img class="closebt" src="~/Areas/YonetimPaneli/img/closebt.svg">
    </div>
    <div id="modal-container" class="col-sm-8 col-md-8 col-lg-8 col-lg-offset-2">
        <div class="thumb col-lg-12" >
             
                <h1 style="color:white;text-align: center;">Yeni Rezervasyon</h1>
             

            <div class="row" style="padding: 5px;">
                <div class="col-md-4">
                    <label>Saha</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" value="Deneme Saha" id="rezSaha" readonly>
                    <input hidden id="rezSahaId"/>
                </div>
           </div> 

            <div class="row" style="padding: 5px;">
                <div class="col-md-4">
                    <label>Tarih</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" value="@ViewBag.Bugun" id="rezTarih">
                </div>
            </div> 

            <div class="row" style="padding: 5px;">
                <div class="col-md-4">
                    <label>Saat</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" value="20:00-21:00" id="rezSaat" readonly>
                </div>
            </div> 

            <div class="row" style="padding: 5px;">
                <div class="col-md-4">
                    <label>Fiyat</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="rezFiyat" readonly>
                    <input hidden id="rezFiyatId" />
                </div>
            </div> 

            <div class="row" style="padding: 5px;">
                <div class="col-md-4">
                    <label>Müşteri</label>
                </div>
                <div class="col-md-8">
                    @*<select class="demo-default" id="takim">
                        <option>Test</option>
                        <option>deneme</option>
                    </select>*@   
                    @Html.DropDownList("takim", null, htmlAttributes: new { @class = "demo-default", @id = "takim" })
                </div>
            </div> 

            <div class="row" style="padding: 5px;">
                <div class="col-md-4">
                    <label>Müşteri Telefonu</label>
                </div>
                <div class="col-md-8">
                    <input type="text" class="form-control" id="rezTelefon" placeholder="5XXXXXXXXX">
                </div>
            </div> 
              
              
            <button type="button" onclick="rezervasyonYap();" class="btn btn-default" >Kaydet</button>

        </div> 
    </div>
</div>

<input id="pop_rezId" hidden/>

<script>
    function rezerveEtModal(saha,tarih,saat,fiyat,sahaId,fiyatId)
    {
        //alert('rezerveEt ' + saha)
        //var repTarih = tarih.replace(".", "_");

        var repTarih = tarih.split(".").join("_")

        $("#rezTarih").val(tarih);
        $("#rezSaha").val(saha);
        $("#rezSaat").val(saat);
        $("#rezSahaId").val(sahaId);
        $("#rezFiyat").val(fiyat);
        $("#rezFiyatId").val(fiyatId);

        popup();
    }
    function rezervasyonYap()
    {
        var saha = $("#rezSaha").val();
        var sahaid = $("#rezSahaId").val();
        var takim = $("#takim").val();
        var tarih = $("#rezTarih").val();
        var takimTel = $("#rezTelefon").val();
        var saat = $("#rezSaat").val();
        var fiyat = $("#rezFiyat").val();
        var fiyatId = $("#rezFiyatId").val();

        if (saha == "" || sahaid == "" || takim == "" || tarih == "" || takimTel == "" || saat == "")
        {
            alert("Tüm alanları doldurunuz");
            return false;
        }
        else {

            $.ajax({
                url: '/yonetimpaneli/home/rezervasyonYap',
                type: 'POST',
                data: {
                    sahaId: sahaid,
                    takim: takim,
                    tarih: tarih,
                    takimTel: takimTel,
                    saat: saat,
                    fiyat: fiyat,
                    fiyatId: fiyatId
                },
                success: function (data) {
                    if (data.basarili == true) {
                        swal({
                            title: "Harika!",
                            text: data.text,
                            type: "success",
                            showCancelButton: false,
                            confirmButtonColor: "#DD6B55",
                            confirmButtonText: "Tamam!",
                            closeOnConfirm: false
                        },
                        function () {
                            window.location = "/yonetimpaneli";
                        });

                    }
                    else {
                        //alert(data.text);
                        swal("HATA", data.text, "error");
                    }
                },
                error: function (hata, ajaxOptions, thrownError) {
                    //alert('Beklenmedik bir hata oluştu lütfen tekrar deneyin. ');
                    swal("HATA", "Beklenmedik bir hata oluştu lütfen tekrar deneyin.", "error");
                }
            });


        }

    }

    function detay(saha, id, kul,rezid) {

        $("#pop_rezId").val(rezid);
         
        var btn = "button";
        swal({
            title: "Rezervasyon Durum Girişi <small><p>Bu rezervasyonun durumunu güncelleyebilirsiniz.<br>Saha:"+saha+"<br>Musteri:"+kul+"<br>Saat:"+id+" </p> </small>",
            text: '<button class="btn btn-info" type="' + btn + '" id="btnA" >KAPAT</button> ' +
              '<button class="btn btn-success" type="' + btn + '" id="btnB" >ONAYLA</button> ' +
              '<button class="btn btn-danger" type="' + btn + '" id="btnC" >İPTAL ET</button>',
            html: true,
            showConfirmButton: false
        });

         
    }


    function popup()
    {
        var settings = $.extend({
            modalTarget: 'animatedModal',
            position: 'fixed',
            width: '100%',
            height: '100%',
            top: '0px',
            left: '0px',
            zIndexIn: '9999',
            color: '#5cb85c',
            opacityIn: '1',
            animatedIn: 'zoomIn',
            animatedOut: 'zoomOut',
            animationDuration: '0.6s',
            overflow: 'auto',
            // Callbacks
            beforeOpen: function () { },
            afterOpen: function () { },
            beforeClose: function () { },
            afterClose: function () { }



        });

        var initStyles = {
            'position': settings.position,
            'width': settings.width,
            'height': settings.height,
            'top': settings.top,
            'left': settings.left,
            'background-color': settings.color,
            'overflow-y': settings.overflow,
            'z-index': settings.zIndexIn,
            'opacity': settings.opacityIn,
            '-webkit-animation-duration': settings.animationDuration,
            '-moz-animation-duration': settings.animationDuration,
            '-ms-animation-duration': settings.animationDuration,
            'animation-duration': settings.animationDuration
        };
        //Apply stles
        $("#animatedModal").removeClass("zoomOut");

        $("#animatedModal").css(initStyles);
        $("#animatedModal").css({ 'opacity': settings.opacityIn, 'z-index': settings.zIndexIn });
        $("#animatedModal").addClass(settings.animatedIn);




        var closeBt = $('.close-' + settings.modalTarget);

        var initStylesClose = {
            'position': settings.position,
            'width': 0,
            'height': 0,
            'top': settings.top,
            'left': settings.left,
            'background-color': settings.color,
            'overflow-y': settings.overflow,
            'z-index': -1,
            'opacity': 0,
            '-webkit-animation-duration': settings.animationDuration,
            '-moz-animation-duration': settings.animationDuration,
            '-ms-animation-duration': settings.animationDuration,
            'animation-duration': settings.animationDuration
        };

        closeBt.click(function (event) {
            event.preventDefault();
            //alert('close');


            //$("#animatedModal").css(initStylesClose);
            // $("#animatedModal").removeClass(settings.animatedIn);

            // $("#animatedModal").css({ 'opacity': 0, 'z-index': -1 });
            // $("#animatedModal").addClass(settings.animatedOut);

            $("#animatedModal").removeClass(settings.animatedIn);
            $("#animatedModal").addClass(settings.animatedOut);
            $("#animatedModal").css(initStylesClose);
        });
    }

</script>
<script>
    $(document).on('click', "#btnA", function () {
         
    });

    $(document).on('click', "#btnB", function () {
        //alert(this.id);
        var id = $("#pop_rezId").val();

        $.ajax({
            url: '/yonetimpaneli/home/DurumDegistir',
            type: 'POST',
            data: { id: id, durum: 1 },// frm.serialize(), //
            success: function (data) {
                $(".sweet-alert").remove();
                $(".sweet-overlay").remove();
                if (data.basarili == true) {
                    swal({
                        title: "Harika!",
                        text: data.text,
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Tamam!",
                        closeOnConfirm: false
                    },
                    function () {
                        window.location = "/yonetimpaneli/";
                    });

                }
                else {
                    //alert(data.text);
                    swal("HATA", data.text, "error");
                }
            },
            error: function (hata, ajaxOptions, thrownError) {
                //alert('Beklenmedik bir hata oluştu lütfen tekrar deneyin. ');
                $(".sweet-alert").remove();
                $(".sweet-overlay").remove();
                swal("HATA", "Beklenmedik bir hata oluştu lütfen tekrar deneyin.", "error");
            }
        });
    });

    $(document).on('click', "#btnC", function () {
        // alert(this.id);
        var id = $("#pop_rezId").val();

        $.ajax({
            url: '/yonetimpaneli/home/DurumDegistir',
            type: 'POST',
            data: { id: id, durum: -1 },// frm.serialize(), //
            success: function (data) {
                $(".sweet-alert").remove();
                $(".sweet-overlay").remove();
                if (data.basarili == true) {
                    swal({
                        title: "Harika!",
                        text: data.text,
                        type: "success",
                        showCancelButton: false,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Tamam!",
                        closeOnConfirm: false
                    },
                    function () {
                        window.location = "/yonetimpaneli/";
                    });

                }
                else {
                    //alert(data.text);
                    swal("HATA", data.text, "error");
                }
            },
            error: function (hata, ajaxOptions, thrownError) {
                //alert('Beklenmedik bir hata oluştu lütfen tekrar deneyin. ');
                $(".sweet-alert").remove();
                $(".sweet-overlay").remove();
                swal("HATA", "Beklenmedik bir hata oluştu lütfen tekrar deneyin.", "error");
            }
        });
    }); 
</script>


<script>
    $("#takim")
  .change(function () {
      if ($.isNumeric($("#takim").val())) {
          $("#rezTelefon").val($("#takim").val());
      }
      else {
          $("#rezTelefon").val("");
      }
  })
  .change();
</script>


<div id="publicsaha" style="display:none">
    <table class="table table-responsive">
        <thead>
            <tr>
               <td>Adı</td>
                <td>İl</td>
                <td>İlçe</td>
            </tr>
        </thead>
        @foreach (var item in ViewBag.publicsaha)
        {
            <tr>
                <td>@item.adi</td>
                <td>@item.sehir</td>
                <td>@item.ilce</td> 
            </tr>
        } 
    </table>
</div>

<div id="publictakim" style="display:none">
    <table class="table table-responsive">
        <thead>
            <tr>
                <td>Ad Soyad</td>
                <td>Takım Adı</td>
                <td>Seviye</td>
                <td>İl</td>
                <td>İlçe</td>
            </tr>
        </thead>
        @foreach (var item in ViewBag.publictakim)
        {
            <tr>
                <td>@item.adSoyad</td>
                <td>@item.takimAdi</td>
                <td>@item.Seviye</td>
                <td>@item.sehir</td>
                <td>@item.ilce</td>
            </tr>
        }
    </table>
</div>

<div id="publicmac" style="display:none">
    <table class="table table-responsive">
        <thead>
            <tr>
                <td>Saha</td>
                <td>Tarih</td>
                <td>Saat</td> 
            </tr>
        </thead>
        @foreach (var item in ViewBag.publicmac)
        {
            if (item != null)
            {
                DateTime dt = DateTime.Parse(item.tarih.ToString());
                <tr>
                    <td>@item.Saha</td>
                    <td>@dt.ToShortDateString()</td>
                    <td>@item.Saat</td>
                </tr>
            } 
        }
    </table>
</div>

<div id="publickullanici" style="display:none">
    <table class="table table-responsive">
        <thead>
            <tr>
                <td>Ad Soyad</td>
                <td>İl</td>
                <td>İlçe</td>
            </tr>
        </thead>
        @foreach (var item in ViewBag.publickullanici)
        {
            <tr>
                <td>@item.adSoyad</td>
                <td>@item.sehir</td>
                <td>@item.ilce</td>
            </tr>
        }
    </table>
</div>

 
<script>
    $(function () {
        $("#accordion").accordion({
            collapsible: true
        });
    });
</script>

 

<script>
    function publicsaha()
    {
        var html = document.getElementById('publicsaha').innerHTML;
        swal({
            title: "Kayıtlı Sahalar",
            text: html,
            html: true
           });
    }
    function publictakim() {
        var html = document.getElementById('publictakim').innerHTML;
        swal({
            title: "Kayıtlı Takımlar",
            text: html,
            html: true
        });
    }
    function publicmac() {
        var html = document.getElementById('publicmac').innerHTML;
        swal({
            title: "Kayıtlı Maçlar",
            text: html,
            html: true
        });
    }
    function publickullanici() {
        var html = document.getElementById('publickullanici').innerHTML;
        swal({
            title: "Kayıtlı Kullanıcılar",
            text: html,
            html: true
        });
    }
</script>

 
 
 
<script type="text/javascript" defer="defer">
    $(function () { // will trigger when the document is ready
        $('#tarih').datepicker({
            autoclose: true,
            orientation: "bottom auto",
            dateFormat : "dd.mm.yy",
            onSelect: function(dateText) {
                $(this).change();
            }
        }).on("change", function () {
            $('#frmindex').submit();
        });

        @if (ViewBag.tarihgirisi!=null)
        {
           @Html.Raw(" $('#tarih').val('"+@ViewBag.tarihgirisi+"');");
        }
        else
        {
            @Html.Raw(" $('#tarih').val('"+@ViewBag.bugun + "');");
        }

    });

    $('#rezTarih').datepicker({
        autoclose: true,
        orientation: "bottom auto",
        dateFormat: "dd.mm.yy",
        regional: "tr"  
    },
    $.datepicker.regional['tr']);
        
</script>

@*<script src="ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>*@ 
@*<script src="~/Areas/YonetimPaneli/js/animatemodal/animatedModal.min.js"></script>*@

 



<script src="~/Areas/YonetimPaneli/selectize/index.js"></script> 
<script src="~/Areas/YonetimPaneli/dist/js/standalone/selectize.js"></script>
<link href="~/Areas/YonetimPaneli/dist/css/selectize.default.css" rel="stylesheet" />
<script src="~/Areas/YonetimPaneli/selectize/selectize.js"></script>

<script>
				$('#takim').selectize({
					create: true,
					sortField: {
						field: 'text',
						direction: 'asc'
					}
				});

				jQuery(function ($) {
				    $("#rezTelefon").mask("(999) 999-9999", { placeholder: "" });
				});
</script>